openapi: '3.0.3'
info:
  version: '1.0.0'
  title: 'Polito Thesis Management API'
servers:
  - url: https://didattica.polito.it/api
    description: Production server (uses live data)
  - url: https://didattica.polito.it/mock/api
    description: Mock server (uses example data)
security:
  - bearerAuth: []
paths:
    /auth/login:
        post:
            tags:
                - Auth
            security: [ ]
            summary: Login
            operationId: login
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LoginRequest'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/Identity'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /auth/logout:
        delete:
            tags:
                - Auth
            summary: Logout
            description: Invalidates the provided token
            operationId: logout
            responses:
                200:
                    description: Success
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /thesis-proposals:
        get:
            tags:
              - Thesis proposals
            summary: List thesis proposals | Elenca proposte di tesi
            operationId: getThesisProposals
            parameters: 
                - $ref: '#/components/parameters/languageQueryParam'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/ThesisProposalOverview'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /thesis-proposals/{thesisProposalId}:
        get:
            tags:
              - Thesis proposals
            summary: Show thesis proposal | Mostra proposta di tesi
            operationId: getThesisProposal
            parameters:
                - $ref: '#/components/parameters/thesisProposalIdParam'
                - $ref: '#/components/parameters/languageQueryParam'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/ThesisProposal'
                                required: [data]
                404:
                    description: Thesis proposal not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /companies:
        get:
            tags: 
                - Companies
            summary: List companies | Elenca aziende
            operationId: getCompanies
            responses:
                200:
                  description: Success
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          data:
                            type: array
                            items:
                              $ref: '#/components/schemas/Company'
                        required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /supervisors:
        get:
            tags:
                - Supervisors
            summary: List supervisors | Elenca supervisori
            operationId: getSupervisors
            parameters: 
                - $ref: '#/components/parameters/languageQueryParam'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Supervisor'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /thesis-application/eligibility:
        get:
            tags:
                - Thesis application
            summary: Check if the authenticated student is eligible to send a thesis application | Controlla se lo studente autenticato è idoneo per inviare una richiesta di tesi
            operationId: checkThesisApplicationEligibility
            responses:
                200:
                    description: Success 
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: object
                                        properties:
                                            studentId:
                                                type: string
                                                example: 's123456'
                                            eligible:
                                                type: boolean
                                                description: Whether the student is eligible to send a thesis start request
                                                example: true
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /thesis-application:
        post:  
            tags:
                - Thesis application              
            summary: Submit thesis application | Invia richiesta di tesi
            operationId: submitThesisApplication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ThesisApplicationRequest'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/ThesisApplicationResponse'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
        get:
            tags:
                - Thesis application
            summary: Get the authenticated student's last thesis application | Mostra l'ultima richiesta di tesi dello studente autenticato
            operationId: getThesisApplication
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/ThesisApplicationResponse'
                                required: [data]
                404:
                    description: Thesis request not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                500:
                    $ref: '#/components/responses/ErrorResponse'
        delete:
            tags:
                - Thesis application            
            summary: Delete the authenticated student's last thesis start request | Cancella l'ultima richiesta di tesi dello studente autenticato
            operationId: deleteThesisRequest
            responses:
                200:
                    description: Success
                404:
                    description: Thesis request not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /graduation-deadlines:
        get:
            tags:
              - Deadlines
            summary: List graduation periods deadlines | Elenca scadenze sessioni esami di laurea
            operationId: getDeadlines
            parameters:
                - $ref: '#/components/parameters/languageQueryParam'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Deadline'
                                required: [ data ]                                    
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /sustainable-development-goals:
        get:
            tags:
              - Sustainable development goals
            summary: List sustainable development goals | Elenca obiettivi di sviluppo sostenibile
            operationId: getSustainableDevelopmentGoals
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/SustainableDevelopmentGoal'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'    
    /embargo-motivations:
        get: 
            tags:
              - Embargo motivations          
            summary: List embargo motivations | Elenca motivazioni di embargo
            operationId: getEmbargoMotivations
            parameters:
              - $ref: '#/components/parameters/languageQueryParam'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/EmbargoMotivation'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /languages:
        get:     
            tags:
              - Languages
            summary: List languages | Elenca lingue
            operationId: getLanguages
            parameters:
              - $ref: '#/components/parameters/languageQueryParam'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            type: string
                                        example: ['Italiano', 'Inglese']
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'    
    /licenses:
        get:     
            tags:
              - Licenses
            summary: List licenses | Elenca licenze
            operationId: getLicenses
            parameters:
              - $ref: '#/components/parameters/languageQueryParam'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/License'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /thesis: 
        get:            
            tags:
                - Thesis
            summary: Show the authenticated student's thesis | Mostra la tesi dello studente autenticato
            operationId: getThesis
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Thesis'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /thesis/conclusion-request/eligibility:
        get:
            tags:
              - Thesis conclusion request
            summary: Check if the authenticated student is eligible to send a thesis conclusion request | Controlla se lo studente autenticato è idoneo per inviare una richiesta di conclusione tesi
            operationId: checkThesisConclusionRequestEligibility
            responses:
                200:
                    description: Success 
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: object
                                        properties:
                                            studentId:
                                                type: string
                                                example: 's123456'
                                            eligible:
                                                type: boolean
                                                description: Whether the student is eligible to send a thesis conclusion request
                                                example: true
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /thesis/conclusion-request:
        post:    
            tags:
                - Thesis conclusion request
            summary: Send thesis conclusion request | Invia richiesta di conclusione tesi
            operationId: sendThesisConclusionRequest
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            $ref: '#/components/schemas/ThesisConclusionRequest'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/ThesisConclusionResponse'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
        get:  
            tags:
                - Thesis conclusion request
            summary: Get the authenticated student's thesis conclusion request | Mostra richiesta di conclusione tesi dello studente autenticato
            operationId: getThesisConclusionRequest
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/ThesisConclusionResponse'
                                required: [data]
                404:
                    description: Thesis conclusion request not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /thesis/conclusion-request/file-conversion:
        post:
            tags:
                - Thesis conclusion request
            summary: Convert thesis PDF to PDF/A format | Converti il PDF della tesi in formato PDF/A
            operationId: convertPdfToPdfA
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                thesisFile:
                                    type: string
                                    format: binary
                                    description: The PDF file of the thesis to be converted to PDF/A format.
                            required: [thesisFile]
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: object
                                        properties:
                                            convertedFileUrl:
                                                type: string
                                                format: uri
                                                description: The URL to download the converted PDF/A file.
                500:
                    $ref: '#/components/responses/ErrorResponse'
components:
    parameters:
        languageQueryParam:
            name: lang
            in: query
            required: false
            schema:
                type: string
                enum: [it, en]
                default: it
        thesisProposalIdParam:
            name: thesisProposalId
            in: path
            required: true
            schema:
                type: integer
    responses:
        ErrorResponse:
            description: Server error
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/Error'
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
    schemas:
        Attachment:
            type: object
            properties:
                id:
                    type: integer
                    example: 0
                filename:
                    type: string
                    example: 'requirements.pdf'
                mimeType:
                    type: string
                    example: image/png
                sizeInKiloBytes:
                    type: integer
                    example: 305
            required: [id, filename, mimeType, sizeInKiloBytes]
        Company:
            type: object
            properties:
                id:
                  type: integer
                  example: 1
                corporateName:
                    type: string
                    example: 'Accenture SpA'
                registeredOffice:
                    type: object
                    properties:
                        street:
                            type: string
                            example: 'Via Privata Nino Bonnet 10/10A'
                        postalCode:
                            type: string
                            example: '20154'
                        city:
                            type: string
                            example: 'Milano'
                        stateOrProvince:
                            type: string
                            example: 'MI'
                        country:
                            type: string
                            example: 'Italy'
                    required: [street, city, country]
            required: [id, corporateName, registeredOffice]
        Deadline:
            type: object
            properties:
                id:
                    type: number
                    example: 42
                name:
                    type: string
                    example: Deadline for submitting the Thesis Application
                type:
                    type: string
                    example: Graduation periods
                url:
                    type: string
                    nullable: true
                date:
                    type: string
                    format: date
                    example: '2024-06-03'
            required: [ name, type, url, date ]
        Embargo:
            type: object
            properties:
                motivationId:
                    type: integer
                    example: 1
                otherMotivation:
                    type: string
                    example: 'Motivazione personalizzata'
                    description: 'Custom motivation'
                monthDuration:
                    oneOf:
                        - type: integer
                          enum: [12, 18, 36]
                          example: 12
                        - type: string
                          enum: ['after explicit consent']
                          example: 'after explicit consent'
            required: [motivationId, monthDuration]
        EmbargoMotivation:
            type: object
            properties:
                id:
                    type: integer
                    example: 1
                motivation:
                    type: string
                    example: 'Pubblicazione editoriale' 
            required: [id, motivation]
        Error:
            type: object
            properties:
                code:
                    type: integer
                    example: 2
                message:
                    type: string
                    example: Error message
            required: [code, message]
        Identity:
            type: object
            properties:
                username:
                    type: string
                    example: 's290683'
                type:
                    type: string
                    example: 'student'
                token:
                    type: string
                    example: c679fa38ff665df6a676acd833194385
            required: [ username, type, token ]
        License:
            type: object
            properties:
                id:
                    type: integer
                    example: 1
                name:
                    type: string
                    example: 'Attribuzione CC BY'
                description:
                    type: string
                    example: "Questa licenza permette a terzi di distribuire, modificare, ottimizzare ed utilizzare la tua opera come base, anche commerciale, fino a che ti diano il credito per la creazione originale. Questa è la più accomodante delle licenze offerte. É raccomandata per la diffusione e l'uso massimo di materiali coperti da licenza."
            required: [id, name, description]
        LoginRequest:
            type: object
            properties:
                username:
                    type: string
                    example: s290683
                password:
                    type: string
                    example: moreSecret
            required: [username, password]
        Supervisor:
            type: object
            allOf:
              - $ref: '#/components/schemas/SupervisorOverview'
            properties:
                firstName:
                    type: string
                    example: 'Marco'
                lastName:
                    type: string
                    example: 'Torchiano'
                role: 
                    type: string
                    example: "Docente"
                facilityShortName:
                    type: string
                    example: "DAUIN"
                profileUrl: 
                    type: string
                    example: "https://www.dauin.polito.it/personale/scheda/(matricola)/003019"
                email:
                    type: string
                    example: 'marco.torchiano@polito.it'
            required: [firstName, lastName]
        SupervisorOverview:
            type: object
            properties:
                id:
                    type: integer
                    example: 12345
                type: 
                    type: string
                    enum: 
                        - internal
                        - external
            required: [id, type]
        SustainableDevelopmentGoal:
            type: object
            properties:
                id:
                    type: integer
                    example: 1
                description:
                    type: string
                    example: 'No poverty'
                image:
                    type: string
                    example: 'https://www.un.org/sustainabledevelopment/wp-content/uploads/2016/08/1.png'
            required: [id, description, image]
        Teacher:
            allOf:
                - $ref: '#/components/schemas/TeacherOverview'
            type: object
            properties:
                role: 
                    type: string
                    example: "Docente"
                email:
                    type: string
                    example: 'marco.torchiano@polito.it'
                profileUrl: 
                    type: string
                    example: "https://www.dauin.polito.it/personale/scheda/(matricola)/003019"
                profilePictureUrl:
                    type: string
                    example: "https://www.dauin.polito.it/personale/scheda/(matricola)/003019/foto"
                facilityShortName:
                    type: string
                    example: "DAUIN"
            required: [role, facilityShortName, profileUrl, email]
        TeacherOverview:
            type: object
            properties:
                id:
                    type: integer
                    example: 12345
                firstName:
                    type: string
                    example: 'Marco'
                lastName:
                    type: string
                    example: 'Torchiano'
            required: [id, firstName, lastName]
        Thesis:
            type: object
            properties:
                id:
                    type: integer
                    example: 258674
                topic:
                    type: string
                    example: 'Un Applicativo Mobile per il Riconoscimento delle Attività Umane'
                supervisor:
                    type: object
                    $ref: '#/components/schemas/Supervisor'
                coSupervisors:
                    type: array
                    items:
                        $ref: '#/components/schemas/Supervisor'
                company:
                    type: object
                    $ref: '#/components/schemas/Company'
                thesisApplicationDate:
                    type: string
                    format: date-time
                    example: '2021-06-01T00:00:00Z'
                thesisConclusionRequestDate:
                    type: string
                    format: date-time
                    example: '2021-06-01T00:00:00Z'
                    nullable: true
                thesisConclusionConfirmationDate:
                    type: string
                    format: date-time
                    example: '2021-06-01T00:00:00Z'
                    nullable: true
            required: [id, topic, supervisor, thesisApplicationDate]
        ThesisApplicationRequest:
            type: object
            properties:
                topic:
                    type: string
                    description: The topic of the thesis
                    example: "A Mobile App for Human Activity Recognition"
                supervisor:
                    $ref: '#/components/schemas/SupervisorOverview'
                coSupervisors:
                    type: array
                    description: Optional co-supervisors for the thesis
                    items:
                        $ref: '#/components/schemas/SupervisorOverview'
                companyId:
                    type: integer
                    description: The company id where the thesis may be developed (optional)
                    example: 1
            required: [topic, supervisor]
        ThesisApplicationResponse:
            type: object
            properties:
                id:
                    type: integer
                    description: The identifier for the current thesis request
                    example: 258674
                topic:
                    type: string
                    description: The topic of the thesis
                    example: "A Mobile App for Human Activity Recognition"
                supervisor:
                    description: The main supervisor for the thesis
                    $ref: '#/components/schemas/Supervisor'
                coSupervisors:
                    type: array
                    description: Optional internal co-supervisors for the thesis
                    items:
                        $ref: '#/components/schemas/Supervisor'
                company:
                    description: The company where the thesis may be developed (optional)
                    $ref: '#/components/schemas/Company'
                submissionDate:
                    type: string
                    format: date-time
                    description: The date when the thesis request was submitted
                    example: '2021-06-01T00:00:00Z'
                status:
                    $ref: '#/components/schemas/ThesisApplicationStatus'
            required: [id, topic, supervisor, submissionDate, status] 
        ThesisApplicationStatus:
            type: string
            enum:
                - 'pending'
                - 'approved'
                - 'rejected'
                - 'cancelled'
        ThesisConclusionRequest:
            type: object
            properties:
                supervisorId: 
                    type: integer
                    example: 12345
                CoSupervisorsIds:
                    type: array
                    items:
                        type: integer
                    example: [12346, 12347]
                abstract:
                    type: string
                    description: The abstract of the thesis
                    example: "Il riconoscimento delle attività umane (HAR) è un campo di ricerca attivo da oltre un decennio. In questa tesi lo studente svilupperà un'applicazione mobile che può raccogliere in modo efficiente i dati dell'utente, pre-elaborarli e usarli per riconoscere l'attività. Questa rilevazione probabilmente avverrà utilizzando un framework di apprendimento distribuito, come il Federated Learning (FL), per combinare la conoscenza di più dispositivi utente."
                abstractEng:
                    type: string
                    description: The abstract of the thesis in English
                    example: "Human activity recognition (HAR) has been an active research field for over a decade. In this thesis, the student will develop a mobile application that can efficiently collect user data, preprocess them, and use them to recognize the activity. This detection will likely occur using a distributed learning framework, such as Federated Learning (FL), to combine the knowledge of multiple user devices."
                title:
                    type: string
                    description: The title of the thesis
                    example: "Un Applicativo Mobile per il Riconoscimento delle Attività Umane"
                titleEng:
                    type: string
                    description: The title of the thesis in English
                    example: "A Mobile App for Human Activity Recognition"
                language:
                    type: string
                    example: 'Italiano'
                keywords:
                    type: array
                    items:
                        type: string
                    example: ['HAR', 'Mobile Application Development']
                sustainableDevelopmentGoalsIds:
                    type: array
                    items:
                        type: integer
                        example: [1, 2]
                        maxItems: 3
                thesisFile:
                    type: string
                    format: binary
                thesisResume:
                    type: string
                    format: binary
                embargo:
                    type: object
                    $ref: '#/components/schemas/Embargo'
                licenseId:    
                    type: integer
                    example: 1
            required: [supervisorId, titleEng, abstract, abstractEng, language, thesisFile, licenseId]
        ThesisConclusionResponse:
            type: object
            properties:
                id:
                    type: integer
                    example: 1
                status: 
                    $ref: '#/components/schemas/ThesisConclusionStatus' 
            required: [id, status]   
        ThesisConclusionStatus:
            type: string
            enum:
                - 'pending'
                - 'approved'
                - 'rejected'
        ThesisProposal:
            allOf:
                - $ref: '#/components/schemas/ThesisProposalOverview'
            type: object
            properties:
                supervisor:
                    $ref: '#/components/schemas/Teacher'
                internalCoSupervisors:
                    type: array
                    items:
                        $ref: '#/components/schemas/Teacher'
                externalCoSupervisors:
                    type: string
                    example: 'Prof. Flavio Esposito - St. Louis University, USA'
                attachment:
                    $ref: '#/components/schemas/Attachment'
                link:
                    type: string
                requiredSkills:
                    type: string
                additionalNotes:
                    type: string   
            required: [supervisor]
        ThesisProposalKeyword:
            type: object
            properties:
                id:
                    type: integer
                    example: 1
                keyword:
                    type: string
                    example: 'HAR' 
        ThesisProposalOverview:
            type: object
            properties:
                id:
                    type: integer
                    example: 258674
                topic:
                    type: string
                    example: 'Un Applicativo Mobile per il Riconoscimento delle Attività Umane'
                description:
                    type: string
                    example: "Offrire dati precisi e tempestivi riguardo le attività e i comportamenti degli individui si pone come obiettivo primario nel pervasive computing. Innumerevoli applicazioni potenziali sorgono in vari domini come la medicina, la sicurezza, l'intrattenimento e le operazioni tattiche. Nonostante il riconoscimento delle attività umane (HAR) sia un campo di esplorazione attivo da oltre un decennio, rimangono aspetti cruciali che, se risolti, potrebbero segnare un cambiamento significativo nel modo in cui gli individui interagiscono con i dispositivi mobili. In questa tesi lo studente svilupperà un'applicazione mobile che può raccogliere in modo efficiente i dati dell'utente, pre-elaborarli e usarli per riconoscere l'attività. Questa rilevazione probabilmente avverrà utilizzando un framework di apprendimento distribuito, come il Federated Learning (FL), per combinare la conoscenza di più dispositivi utente."
                creationDate:
                    type: string
                    format: date-time
                expirationDate:
                    type: string
                    format: date-time
                isInternal:
                    type: boolean
                    description: If true, it's an internal thesis at Politecnico, otherwise it's external (in a company)
                isAbroad:
                    type: boolean
                    description: If true, it's an abroad thesis
                keywords:
                    type: array
                    items:
                        $ref: '#/components/schemas/ThesisProposalKeyword'
                types:
                    type: array
                    items:
                        $ref: '#/components/schemas/ThesisProposalType'
                supervisor:
                    $ref: '#/components/schemas/TeacherOverview'
                internalCoSupervisors:
                    type: array
                    items:
                        $ref: '#/components/schemas/TeacherOverview'
            required: [id, topic, description, creationDate, expirationDate, isInternal, isAbroad, keywords, types, supervisor, internalCoSupervisors]
        ThesisProposalType:
            type: object
            properties:
                id:
                    type: integer
                    example: 1
                type:
                    type: string
                    example: 'Tesi sperimentale'