openapi: '3.0.3'
info:
  version: '1.0.0'
  title: 'Polito Thesis Management API'
servers:
  - url: https://didattica.polito.it/api
    description: Production server (uses live data)
  - url: https://didattica.polito.it/mock/api
    description: Mock server (uses example data)
security:
  - bearerAuth: []
paths:
    /auth/login:
        post:
            tags:
                - Auth
            security: [ ]
            summary: Login
            operationId: login
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/LoginRequest'
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/Identity'
                                required: [data]
                500:
                    $ref: '#/components/responses/ErrorResponse'
    /auth/logout:
        delete:
            tags:
                - Auth
            summary: Logout
            description: Invalidates the provided token
            operationId: logout
            responses:
                200:
                    description: Success
                500:
                    $ref: '#/components/responses/ErrorResponse'
components:
    responses:
        ErrorResponse:
            description: Server error
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/Error'
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
    schemas:
        LoginRequest:
            type: object
            properties:
                username:
                    type: string
                    example: s290683
                password:
                    type: string
                    example: moreSecret
            required: [username, password]
        Identity:
            type: object
            properties:
                username:
                    type: string
                    example: 's290683'
                type:
                    type: string
                    example: 'student'
                token:
                    type: string
                    example: c679fa38ff665df6a676acd833194385
            required: [ username, type, token ]
        Error:
            type: object
            properties:
                code:
                    type: integer
                    example: 2
                message:
                    type: string
                    example: Error message
            required: [code, message]